<h1>Chi tiet</h1>
<form action="">
    <div>
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" ng-model="p.name" disabled>
    </div>
    <div>
        <label for="" class="form-label">Images</label>
        <input type="text" class="form-control" ng-model="p.images" disabled>
        <img src="/ruiz/assets/images/product/{{p.images}}" alt="" style="width: 150px; height: auto; object-fit: cover;">
    </div>
    <div>
        <label for="" class="form-label">Price</label>
        <input type="text" class="form-control" ng-model="p.price" disabled>
    </div>
    <div>
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" ng-model="p.description" disabled>
    </div>
</form>